<a href="https://colab.research.google.com/github/anujashende/Python-Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
count = 1
while(True):
  if count % 2== 0 :
      print(count, end=" ")
  if(count>16):
      break;
  count+=1

2 4 6 8 10 12 14 16

In [ ]:
i=1
while (True):
  if i%3 == 0:
    print(i,end=" ")
  if(i>24): 
    break;
  i+=1

3 6 9 12 15 18 21 24

In [ ]:
i=1
while (True):
  if i%3 == 0:
    print(i,end=" ")
  if (i>18):  
    break;
  i+=1

3 6 9 12 15 18

In [ ]:
count = 3
while(True):
  if count % 2== 0:
    print(count,end=" ")
  if (count>18):
    break;
  count+=1

4 6 8 10 12 14 16 18

In [ ]:
def solve (a,b):
    return b if a == 0 else solve(b%a,a)
print(solve(60, 20))

20

In [ ]:
a=30
b=30
print(solve(b%a,a))

30

In [ ]:
3+5

8

In [ ]:
print("hello")

hello

In [ ]:
(45+60+70)/3

58.333333333333336

In [ ]:
m1=45
m2=60
m3=70

In [ ]:
(m1+m2+m3)/3

58.333333333333336

In [ ]:
age=25
first_name='Anuja'

In [ ]:
age = 25
first_name = 'Anuja'
print(age)
print(first_name)

25
Anuja

In [ ]:
print(first_name,age)

Anuja 25

In [ ]:
print("my name is",first_name,"and I am of", age,"years age.")

my name is Anuja and I am of 25 years age.

In [ ]:
a=[1,2]
print(a*3)

[1, 2, 1, 2, 1, 2]

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[2, 4, 7, 19, 22, 45, 72, 89]

In [ ]:
numbers= (3,10,20,25,28,32,35,22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[3, 10, 20, 22, 25, 28, 32, 35]

In [ ]:
a = [1, 2, 3]
a = tuple(a)
a=2
print(a)

2

In [ ]:
def solve(a):
   a = [1, 3, 5]
solve(a)
print(a)

(1, 2, 3)

In [ ]:
a=5
a+=6
a

11

In [ ]:
x1= 5
y1= 5
x2= 'hello'
y2= 'hello'
x3= [1,2,3]
y3= [1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [ ]:
x='Hello world'
y= {1:'a',2:'b'}
print('H' in x)
print('Hello'not in y)
print(1 in y)
print('a' in y)

In [ ]:
a=2
a

2

In [ ]:
a=2
a+=2
a

4

In [ ]:
a=2
print(a)
a+2

2

4

In [ ]:
type(a)

int

In [ ]:
b=13568807645
print(b)
type(b)

13568807645

int

In [ ]:
c=22.5
print(c)
type(c)

22.5

float

In [ ]:
d=2+3j
print(d)
type(d)

(2+3j)

complex

In [ ]:
a1,b1,c1= 10,23.55,2+3j

In [ ]:
print(a1)
print(type(a1))

10
<class 'int'>

In [ ]:
print(b1)
print(type(b1))

23.55
<class 'float'>

In [ ]:
print(c1)
print(type(c1))

(2+3j)
<class 'complex'>

In [ ]:
-123456786000.0

-123456786000.0

In [ ]:
2e3067*100

inf

In [ ]:
2e-322/ 10

2e-323

In [ ]:
(2**0.5)*(2**0.5)-2

4.440892098500626e-16

In [ ]:
print(2+3) # - * % / ** //

5

In [ ]:
d

(2+3j)

In [ ]:
d2=1-1j

In [ ]:
d+2

(4+3j)

In [ ]:
d+d2

NameError: ignored

In [ ]:
d-d2

(1+4j)

In [ ]:
d/d2

(-0.5+2.5j)

In [ ]:
d3=-c
d3

-22.5

In [ ]:
pow(3,2)

9

In [ ]:
max(3,7,5,90,34)

90

In [ ]:
abs(d3)

22.5

In [ ]:
round(d3)

-22

In [ ]:
import math

In [ ]:
print(math.sqrt(4))

2.0

In [ ]:
math.ceil(2.6)

3

In [ ]:
math.floor(2.6)

2

Strings

In [ ]:
e="department"
e

'department'

In [ ]:
a1="""department"""
a1

'department'

In [ ]:
f="statments"

In [ ]:
e+f

'departmentstatments'

In [ ]:
e*2

'departmentdepartment'

In [ ]:
e<f

True

In [ ]:
"a"<"b"

True

In [ ]:
"A"<"a"

True

In [ ]:
"a"<"A"

False

In [ ]:
e==f

False

In [ ]:
"This won't work with a single quoted string!"

"This won't work with a single quoted string!"

Indencing and slicing in String

In [ ]:
g= 'deparment of statistics'
print(g)

deparment of statistics

In [ ]:
g[0]

'd'

In [ ]:
num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 7

NameError: ignored

In [ ]:
a = 10
b = 4
 
# Print bitwise AND operation
print("a & b =", a & b)
 
# Print bitwise OR operation
print("a | b =", a | b)
 
# Print bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [ ]:
a = 10
# Print bitwise NOT operation
print("~a =", ~a)

~a = -11

In [ ]:
e='Depertment'

# if elif else statment:

In [ ]:
print("what is your marks")
marks=int(input())
if marks<40:
  print("your are fail")
elif marks == 40:
  print("your pass")
else :
  print("good score")

what is your marks
49
good score

In [ ]:
a={1:"A",2:"B",3:"C"}
print(a.get(1,4))

A

In [ ]:
flag = ""
a = 0
i = 1
while(a < 3):
    j = 1
    if flag:
       i = j * i + 5
    else:
       i = j * i + 1
       a = a + 1
print(i)

4

In [ ]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
v = values[0][0]
for lst in values:
     for element in lst:
          if v > element:
              v = element
print(v)

1

In [ ]:
x = "abcdef"
i = "a"
while i in x:
     x = x[:-1]
     print(i, end = " ")

a a a a a a

In [ ]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [ ]:
a=10
b=20
def change():
     global b
     a=45
     b=56
change()
print(a)
print(b)

10
56

# while loop

In [ ]:
i= 1
while i<=5:
  print("Pass")
  i=i+1

Pass
Pass
Pass
Pass
Pass

In [ ]:
b = 50
while b >=1:
  print(b)
  b=b-1

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
a=100
while a>=1:
  print(a)
  a=a-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
2+3

if statment

In [ ]:
if True:
  print("im right")

im right

In [ ]:
var1 = 6
var2 = 56
var3 = int(input())
if var3 > var2:
  print("greter")
elif var3==var2:
  print("equal")  

else:
  print("lesser")

40
lesser

In [ ]:
list=[5,7,3]
if 5 in list:
  print("yes")

yes

In [ ]:
x=['navin',65,2.5]
for i in x:
  print(i)

navin
65
2.5

In [ ]:
x='navin'
for i in x:
  print(i)

n
a
v
i
n

In [ ]:
for i in range (10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for a in range(11,21,2):
  print(a)

11
13
15
17
19

In [ ]:
for b in range(20,10,-1):
  print(b)

20
19
18
17
16
15
14
13
12
11

In [ ]:
for a in range(1,21):
  if a % 5!=0:
    print(a)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

# Break continue pass

In [ ]:
x = int (input("how many candiescyou want?"))
i = 1 

while i <=x:
   print("candy")
   i+=1

how many candiescyou want?12
candy
candy
candy
candy
candy
candy
candy
candy
candy
candy
candy
candy

In [ ]:
av = 6
x = int (input("how many candies you wont?"))
a= 1
while a<=x:
   if a>=av:
       print("out of stock") 
       break
   print("candy") 
   a+=1  
print("bye")

how many candies you wont?8
candy
candy
candy
candy
candy
out of stock
bye

In [ ]:
av = 10
i= 1
x= int (input("how many balls you wont?"))
while i<=x:
  if i>=av:
    print("out of stock")
    break
  print("ball")
  i+=1
print("bye")

how many balls you wont?11
ball
ball
ball
ball
ball
ball
ball
ball
ball
out of stock
bye

In [ ]:
i = 0
while i<=45:
  print(i,end=" ")
  i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45

In [ ]:
i = 0
while i<=90:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [ ]:
# 5 number table
i = 5

while i <=50:
  print(i)
  i+=5

5
10
15
20
25
30
35
40
45
50

In [ ]:
# odd number
i= 1
while i<=40:
  print(i,end=" ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [ ]:
#even number
i=2
while i <=40:
  print(i,end=" ")
  i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

In [ ]:
for i in range (1,101):
  if(i%2!=0):
    pass
  else:
    print(i,end=" ")
print("bye")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 bye

In [ ]:
#pass
if i ==4:
   pass

In [ ]:
# prime number
i = 2
while i<=20:
  print(i,end=" ")
  i+=1

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
# pattern type
for i in range (4):
  for j in range(i+1):
    print("#",end=" ")
  print()

#
# #
# # #
# # # #

In [ ]:
r=1
while (r<=5):
  c=1
  while(c<=r):
    print(c,end=" ")
  c=c+1
  r=r+1
print()

In [ ]:
for i in range(4):
  for j in range(4):
    print("#",end=" ")
  print()

In [ ]:
for i in range(4):
  for j in range(4-i):
    print("#",end=" ")
  print()

# # # #
# # #
# #
#

In [ ]:
n= int(input("enter number of row needed"))
for i in range (n):
  for j in range (i+1):
    print(j+1,end=" ")
  print()

enter number of row needed6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:

for i in range(4):
  for j in range(4-1):
      print(i,end=" ")
  print()

In [ ]:
var= "James Bond"
print(var[2::-1])

In [ ]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

In [ ]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

In [ ]:
for i in range(10, 15, 1):
  print( i, end=', ')

In [ ]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

In [ ]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

In [ ]:
str = "pynative"
print (str[1:3])

In [ ]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

In [ ]:

4. What is the result of print(type([]) is list)

In [ ]:
x = 50
def fun1():
    # your code to assign global x = 20
fun1()
print(x) # it should print 20

In [ ]:
for n in range (1,11):
  if (n%5)==0:
    continue
    print()

In [ ]:
str="hello"
c=0
for x in strl:
  if (x!="l"):
    c=c+1
  else:
    pass
print(c)

In [ ]:
x= 1
for i in range(5);
x =x*i

In [ ]:
x=4
while x<=50:
  print(x,end=" ")
  x+=4

In [ ]:
x=4
for x <=50:
  print(x,end=" ")
  x+=4

In [ ]:
num =4
for i in range(1, 50):
   print(num, 'x', i, '=', num*i,end=" ")

In [ ]:
i =4
x= 1
for i<=50:
  print(i,end=" ")

In [ ]:
# One-dimensional array of some prime numbers
import numpy as np
prime_array = np.array([2,4,6,8,10])
print(prime_array)

In [ ]:
my_array = np.array([1,2.0,3,4,5,'abc'])
print(my_array.dtype)

In [ ]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]

In [ ]:
x = "abcdef"
i = "a"
while i in x:
     x = x[:-1]
     print(i, end = " ")

In [ ]:
x = "abcdef"
i = "a"
while i in x:
   x = x[:-1]
   print(i, end = " ")

In [ ]:
# Python3 code to  calculate age in years
 
from datetime import date
 
def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year - ((today.month, today.day) < (birthDate.month, birthDate.day))
        
 
    return age
     
# Driver code
print(calculateAge(date(1995, 12, 6)), "years")

27 years

In [ ]:
 #Write a program to print following output:
#
##
###
print('#\n##\n###')

#
##
###

In [ ]:
print("Your Name\n\tCollege Name\n\t\tCity Name")

Your Name
	College Name
		City Name

In [ ]:
print("    *\n*\t*\n    *")

    *
*	*
    *

In [ ]:
print("*\t*\n*\t*")

*	*
*	*